<router-outlet></router-outlet>
<section class="page-body">
    <div class="container trip-list">
        <div class="d-flex justify-content-between trip-titles">
            <p *ngFor="let label of headerLables" class="trip-label" [ngClass]="{'col-2' : label === 'PRICE', 'col-3': label !== 'PRICE', 'col-4' : label === 'OFFERS', 'mr-4': label === 'EVENT'}">{{ label }}</p>
        </div>
        <div *ngIf="isNewTripOpened$ | async">
            <app-add-trip-item [destinations]="destinations$ | async" [offerList]="offers$ | async"></app-add-trip-item>
        </div>
        <app-trip-item></app-trip-item>
    </div>
</section>
