.trip-item {
    padding: 20px 0;
    font-size: 20px;

    .event__type {
        -ms-flex-negative: 0;
        flex-shrink: 0;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 42px;
        height: 42px;
        margin: -5px 10px 0 -35px;
        background-color: #ffffff;
        border-radius: 50%;
    
        .event__type-icon {
            display: block;
            width: 17px;
            height: 17px;
        }
    }

    .offers {
        font-weight: 900;
    }

    .event__rollup-btn {
        transform: translate(50%, 50%) rotate(0deg);
    }
}