input,
input:focus {
    border: none;
    outline: none;
}

label { 
    margin: 0;
}

.event__edit {
    display: block;
    margin-left: -41px;
    margin-right: -20px;
    padding: 0;
    background-color: #ffffff;
    border-radius: 18px;
    box-shadow: 0 11px 20px rgb(0 0 0 / 4%);

    .event__header {
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding: 20px 24px;

        .event__type-wrapper {
            margin-right: 10px;
            border-bottom: 1px solid #0d8ae4;
        }

        .event__type-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 36px;
            height: 36px;
            background-color: #ffffff;
            border-radius: 50%;
            border: 1px solid #0d8ae4;
            cursor: pointer;
        }

        .event__field-group {
            display: flex;
            align-items: center;
            padding: 5px 2px;
            margin-right: 18px;
            border-bottom: 1px solid #0d8ae4;
        }

        .event__input--time {
            width: 150px;
        }
        
        .event__field-group--price,
        .event__input--price {
            width: 90px;
        }

        .event__type-wrapper,
        .event__field-group--destination {
            min-width: 150px;
            margin-top: -5px;

            .destination__ng-select {
                width: 100%;
            }
        }

        .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 4px 16px 5px;
            font-weight: 700;
            font-size: 17px;
            line-height: 21px;
            font-family: inherit;
            text-decoration: none;
            border: none;
            border-radius: 15px;
            cursor: pointer;
            -webkit-transition: opacity 0.2s;
            transition: opacity 0.2s;
        }

        .btn--blue {
            color: #ffffff;
            background-color: #0d8ae4;
        }

        .event__reset-btn {
            color: #0d8ae4;
            background-color: transparent;
            border: none;
        }

        .event__favorite-btn {
            border: none;
            background-color: transparent;
            margin-right: 30px;
            cursor: pointer;

            .event__favorite-icon {
                fill: #ebebeb;
            }
        }

        .event__favorite-btn:hover {
            .event__favorite-icon {
                fill: rgba(255, 208, 84, 0.6);
            }
        }

        .event__favorite-checkbox:checked + .event__favorite-btn .event__favorite-icon {
            fill: #ffd054;
        }

        .event__rollup-btn {
            margin-left: 20px;
        }
    }

    .event__details {
        padding: 20px 24px;
        border-top: 2px solid #ffd054;

        .event__section-title {
            font-size: 16px;
            text-transform: uppercase;
            color: #ffd054;
        }

        .event__offer-label {
            display: block;
            padding: 22px 30px 21px;
            font-size: 17px;
            line-height: 21px;
            user-select: none;
            background-color: #f2f2f2;
            border-radius: 32px;
            cursor: pointer;
            transition: background-color 0.2s;

            &:hover {
                background-color: rgba(13, 138, 228, 0.6);
            }
        }

        .event__offer-checkbox:checked + .event__offer-label {
            background-color: #0d8ae4;
        }

        .picture-container {
            overflow-x: auto;
        }
    }
}

::ng-deep .ng-select.ng-select-single .ng-select-container {
    border: none;

    .ng-value-container {
        padding: 0;
        cursor: pointer;
    }

    .ng-arrow-wrapper {
        width: 0;
        padding: 0;
    }
}

::ng-deep .ng-select.ng-select-focused .ng-select-container {
    border: none !important;
    box-shadow: none !important;
}

.mat-input-element {
    width: 120px;
    padding-left: 10px;
}

