/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '~assets/fonts/common_fonts.scss';
@import "~@ng-select/ng-select/themes/default.theme.css";
/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    line-height: 1.2;
    font-family: "Montserrat", "Arial", sans-serif !important;
    color: #000000;
    background-color: #f2f2f2;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    border: 0;
}

.event__rollup-btn {
    position: relative;
    background-color: transparent;
    border: none;
}

.event__rollup-btn::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 50%;
    width: 15px;
    height: 15px;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
    transform: translate(-50%, -50%) rotate(225deg);
    transition: border-color 0.2s, transform 0.6s;
}

.event__rollup-btn:hover::after {
    border-color: #0d8ae4;
}

.mat-button-base {
    height: 35px !important;
}